.contenedor{
    background-color: rgb(116, 108, 116);
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
}
.carDs{
width: 100%;
padding: 10px; margin: 0;
background-color: rgb(243, 243, 243);
display: flex;
flex-direction: row;
justify-content: space-around;
}
