
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
}

.claseActiva{
  color: rgb(156, 44, 10);
}
.claseInactiva{
  color: rgb(243, 59, 145);
}

.footer{
  text-align: center;
  padding: 10px;
  background-color: rgb(182, 174, 174);
  color: black;
  font-size: 1.5rem;
}